<div class="container">
<div ng-show="cust.fetchresult" >
<p align="center" class="h4" style="color:green"> Enter SSN ID or Customer ID of customer to Delete </p>
<div ng-show="cust.fetching"><img src="img/loading.gif"> Fetching..</div>
<div ng-show="cust.failFetching">Failed Fetching Result.</div>
<div ng-show="cust.noRecord">No Records Found for this detail please try with valid one.</div>
<form class="col-md-8 col-md-offset-2">
    <div class="form-group">
    <label for="SSN_ID">SSN ID</label>
    <input type="text" ng-model="cust.SSN_ID" class="form-control" id="SSN_ID" size="6" placeholder="Enter SSN_ID">
  </div>
  <div class="form-group">
    <label for="customer_ID">Customer ID</label>
    <input type="text" ng-model="cust.customer_ID" class="form-control" id="Customer_ID" placeholder="Customer ID">
  </div>
    <button type="button" class="btn btn-success" ng-click="cust.fetchResult()" class="btn btn-primary" >Submit</button>
   
</form>
</div>
<div ng-show="cust.deletedSuccess"> <p aligh="center" style="color:blue"> {{cust.deleteM}} </p> </div>
<div class="container" ng-show="cust.deleteresult">
<p align="center" class="h3" text="centre"> Delete Customer </p>
<div ng-show="cust.failDeleting">Failed Deleting..</div>
<div ng-show="cust.deleting"><img src="img/loading.gif"> Deleting..</div>
<!-- show details of customer to be deleted -->
<div class="row">
<div class="col-md-6">
Customer ID: {{cust.customer_ID}}<hr>
SSN ID: {{cust.SSN_ID}}
</div>
<div class="col-md-6">
Name: {{cust.name}}<hr>
Age: {{cust.age}}
</div>
</div>
<div class="row">
<div class="col-md-12">
Address: {{cust.adl1}}<hr>
{{cust.adl2}}<hr>
{{cust.city}}<hr>
{{cust.state}}
</div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Delete</button>



<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
          <p>Are You sure to delete Customer!!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cust.deleteCustomer()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
      <!-- Modal content ends here -->
    </div>
  </div>
  <!-- Modal Ends here -->
	
</div>
	
</div>