<div class="article">
		      	<div class="title">Title :{{info.title}}
		      	</div>
		      	<div class="author"> Author :{{info.name}}
		      		
		      	</div>
		      	<div class="category">Category:{{info.category}}
		      	</div>
		      	<div class="date"> Published: {{info.created |date}}
		      	</div>
		      	<div class="content">
		      		{{info.content}} <button class="btn btn-success">Read More >></button>
		      	</div>
		      	<hr>
		      	<div ng-controller="CommentController">
		      	<div class="likes">
		      		<a><img class="image" src="img/like.png" ></a>{{info.likes}} <button class="btn btn-success pull-right" ng-click="dep.fetchComment(info.name)">Commensts {{info.comments}}</button>
		      	</div>
		      	
                  <div ng-show="dep.available" ng-repeat="comment in dep.comments">
        <!--  <article-Info info="article"></article-Info><hr>  -->
                  Author: {{comment.name}}
                  Comment Content : {{comment.content}}
                  

                  <!--<article-Info info="article"></article-Info><hr> --> 

          
                  </div>
                 
             </div>
</div>
		      	