<style type="text/css">
.red{
	color: red;
	background-color: red;
}
.blue{
	color: blue;
	background-color: blue;
}	
</style>
<div class="article">
		      	<div class="title">Title :{{info.title}}
		      	</div>
		      	<div class="author"> Author :{{info.name}}
		      		
		      	</div>
		      	<div class="category">Category:{{info.category}}
		      	</div>
		      	<div class="date"> Published: {{info.created |date}}
		      	</div>
		      	<div class="content" ng-controller="AllArticles">
		      		{{info.content}} <button class="btn btn-success" ng-click="dep.fetchArticle(info)" ng-show="dep.readmore">Read More >></button>
		      	</div>
		      	<hr>
		      	<div ng-controller="CommentController">
		      	<div class="likes">
		      		<a><img class="image btn btn-link dep.color" src="img/like.png" ng-click="dep.addLikes(info.article_id)"></a><a ng-click="dep.fetchUsers(info.article_id)">{{info.likes-1}} </a><button class="btn btn-success pull-right" ng-click="dep.fetchComment(info.article_id)">Commensts {{info.comments-1}}</button>
		      	</div>
		      	
                  <div ng-show="dep.available" ng-repeat="comment in dep.comments">
       
                  <comment-Info comment="comment"></comment-Info>
                  

                  <!--<article-Info info="article"></article-Info><hr> --> 

          
                  </div>
                 
             </div>
</div>
		      	