.article{
	margin-top: 10px;
	margin-left: 1px;
	margin-right: 1px;
  padding: 2px 3px 3px 1px;
  box-shadow: 1px 2px 2px #2C3E50;
  border-radius: 10px;
  background-color: #b2a3c6;
}
.article:hover,
 .article:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.05s ease;
  background-color: #485160;
  color:green;

}
 .title{
 	
        font-size: 20px;
 }

 .title:hover,
 .title:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  color: blue;
  font-size: 22px;
}
 .author:hover,
 .author:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  font-size: 22px;
  color: blue;
}
.category:hover,
 .category:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  font-size: 22px;
  color: blue;
}
.date:hover,
 .date:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  font-size: 24px;
  color: blue;
}

 .author{
 	font-family: 'Playball', cursive;
 	font-size: 20px;
 }
 .category{
 	font-family: 'Zilla Slab', serif;
 	font-size: 20px;
 }
 .date{
 	font-family: 'Lobster', cursive;
 	font-size: 22px;
 }
 .content {
 	font-family: 'Zilla Slab', serif;
 	font-size: 16px;
 	background-color: #ddd;
 	padding: 1px 2px 2px 1px;
    box-shadow: 1px 1px 1px #2C3E50;
    border-radius: 2px;
 }
 #Zilla{
 	font-family: 'Zilla Slab', serif;
 	font-size: 18px;
 }
 #Montserrat{
 	font-family: 'Montserrat', sans-serif;
 	font-size: 18px;
 }
 #Lobster{
 	font-family: 'Lobster', cursive;
 	font-size: 18px;
 }
 #Abril{
 	font-family: 'Abril Fatface', cursive;
 	font-size: 18px;
 }
 #Great{
 	font-family: 'Great Vibes', cursive;
 	font-size: 18px;
 }
 #Playball
 {
 	font-family: 'Playball', cursive;
 	font-size: 18px;
 }
 #Diplomata{
 	font-family: 'Diplomata', cursive;
 	font-size: 18px;
 }
 #Merriweather{
 	font-family: 'Merriweather', serif;
 	font-size: 18px;
 }
 #Lora{
 	font-family: 'Lora', serif;
 	font-size: 18px;
 }
 .image{
 	height: 30px;
 }
 .image:hover{
 	height: 35px;
 	transition: 0.2s ease;
 }
 @media screen only and (min-width: 500)
 {
  .article{
  margin-top: 2px;px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0.5px 0.5px 0px;
  box-shadow: 0px 0px 0px #2C3E50;
  border-radius: 1px;
  background-color: #b2a3c6;
}

 .title{
  
        font-size: 14px;
 }

 .title:hover,
 .title:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  color: blue;
  font-size: 14px;
}
 .author:hover,
 .author:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  font-size: 14px;
  color: blue;
}
.category:hover,
 .category:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  font-size: 14px;
  color: blue;
}
.date:hover,
 .date:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  font-size: 14px;
  color: blue;
}

 .author{
  font-family: 'Playball', cursive;
  font-size: 12px;
 }
 .category{
  font-family: 'Zilla Slab', serif;
  font-size: 12px;
 }
 .date{
  font-family: 'Lobster', cursive;
  font-size: 12px;
 }
 .content {
  font-family: 'Zilla Slab', serif;
  font-size: 12px;
  background-color: #ddd;
  padding: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px #2C3E50;
    border-radius: 1px;
 }
 #Zilla{
  font-family: 'Zilla Slab', serif;
  font-size: 38px;
 }
 #Montserrat{
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
 }
 #Lobster{
  font-family: 'Lobster', cursive;
  font-size: 38px;
 }

 .image{
  height: 20px;
 }
 .image:hover{
  height: 25px;
  transition: 0.2s ease;
 }
 }